version: "3"

services:
  wallet-manager:
    image: giorgioxlabs/wallet-manager:latest
    container_name: wallet-manager-d
    ports:
      - "50051:50051"
    volumes:
      - "./config.json:/etc/wallet-manager/config.json"
    restart: always

  grafana:
    image: grafana/grafana:latest
    container_name: wallet-manager-d_grafana
    ports:
      - '4000:3000'
    environment:
      GF_SECURITY_ADMIN_PASSWORD: 1234
    volumes:
      - ./grafana:/etc/grafana/provisioning

  prometheus:
    image: prom/prometheus
    container_name: wallet-monitor-d_prometheus
    ports:
      - '9090:9090'
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    command: "--config.file=/etc/prometheus/prometheus.yml"
